<div class="table-section">
    <div class="row">
      <div class="col-12">
            <nb-card>
                <nb-card-body>
                  <div class="right-btn-table">
                        <button nbButton ghost (click)="toggleFullScreen()"><nb-icon icon="maximize" ></nb-icon></button>
                  </div>
                  <nb-tabset>
                    <nb-tab tabTitle="Waiting for response" class="pl-0 pr-0">
                      <div>
                          <div class="heading-table">
                              <h4>Waiting For Response</h4>
                              <div class="right_tag">
                                  <div>
                                      <input nbInput placeholder="Start Date" [nbDatepicker]="datepicker">
                                      <nb-datepicker #datepicker></nb-datepicker>
                                  </div>
                                  <div>
                                    <input nbInput placeholder="End Date" [nbDatepicker]="datepicker">
                                    <nb-datepicker #datepicker></nb-datepicker>
                                  </div>
                                  <div>
                                      <input nbInput placeholder="Search Here">
                                  </div>
                              </div>
                          </div>
                              <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)"  class="table_design">

                                  <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns">

                                  </tr>
                                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns">
                                  
                                </tr>
                                
                                <ng-container *ngFor="let column of defaultColumns; let index = index"
                                              [nbTreeGridColumnDef]="column"
                                              [showOn]="getShowOn(index)">
                                  <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                                    {{column}}
                                  </th>
                                  <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                                </ng-container>
                                
                                <ng-container [nbTreeGridColumnDef]="customColumn">
                                  <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                                   Action
                                  </th>
                                  <!-- <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                                    {{column}}
                                  </th> -->
                                  <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    <button nbButton  size="small" status="success" (click)="open(dialog)">Review</button>
                                  </td>
                                </ng-container>
                              </table>   
                            <div class="pagination-main" aria-label="Page navigation example">
                                <nb-select class="nb-select-tag" placeholder="shorting">
                                    <nb-option value="1">0-10</nb-option>
                                    <nb-option value="2">10-20</nb-option>
                                    <nb-option value="3">20-30</nb-option>
                                    <nb-option value="4">30-40</nb-option>
                                </nb-select>
                                <ul class="pagination justify-content-end">
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                </ul>
                            </div>
                      </div>
                      <ng-template #dialog let-data let-ref="dialogRef">
                          <nb-card class="dialog_box">
                              <nb-card-header>Action - Review: Case ID -27388599 | 24/04/2019 04:24 PM <span class="hide-tag" (click)="ref.close()">x</span></nb-card-header>
                              <nb-card-body>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="subject" class="label">Case ID</label>
                                      <nb-select placeholder="27388599">
                                        <nb-option value="1">27388599</nb-option>
                                        <nb-option value="2">27388599</nb-option>
                                        <nb-option value="3">27388599</nb-option>
                                        <nb-option value="4">27388599</nb-option>
                                      </nb-select>
                                    </div>
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="date" class="label">Classification</label>
                                      <nb-select placeholder="Account related">
                                        <nb-option value="1">Account related</nb-option>
                                        <nb-option value="2">Account related</nb-option>
                                        <nb-option value="3">Account related</nb-option>
                                        <nb-option value="4">Account related</nb-option>
                                      </nb-select>
                                    </div>
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="date" class="label">Status</label>
                                      <nb-select placeholder="Status">
                                        <nb-option value="1">Correct</nb-option>
                                        <nb-option value="2">Wrong</nb-option>
                                      </nb-select>
                                    </div>
                                    </div>
                                  <div class="col-sm-3">
                                      <div class="form-group">
                                        <label for="classification" class="label">Type</label>
                                        <nb-select placeholder="Account Related">
                                                <nb-option value="1">Account Related</nb-option>
                                                <nb-option value="1">Account Related</nb-option>
                                                <nb-option value="1">Account Related</nb-option>
                                                <nb-option value="1">Account Related</nb-option>
                                        </nb-select>
                                      </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="sub-classification" class="label">Subjection</label>
                                            <div>
                                                <input nbInput placeholder="account not working" >
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="template" class="label">Sub-Type</label>
                                            <nb-select placeholder="Break Up Of Disbursed Amount
                                            " >
                                                    <nb-option value="1">Break Up Of Disbursed Amount</nb-option>
                                                    <nb-option value="2">Break Up Of Disbursed Amount</nb-option>
                                                    <nb-option value="3">Break Up Of Disbursed Amount</nb-option>
                                                    <nb-option value="4">Break Up Of Disbursed Amount</nb-option>
                                            </nb-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="template" class="label"> Review/Comment </label>
                                            <div class="d-flex btn_design_user">
                                                <input type="text" nbInput fullWidth placeholder="Review/Comment">
                                                <button nbButton status="primary" (click)="open(allcomments)">15</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <nb-select class="response_tag" placeholder="Response Template">
                                                <nb-option value="1">Response 1</nb-option>
                                                <nb-option value="2">Response 2</nb-option>
                                                <nb-option value="3">Response 3</nb-option>
                                                <nb-option value="4">Response 4</nb-option>
                                            </nb-select>
                                            <textarea class="form-control" nbInput value="Message.......">Hi $User Name$, Your registered mobile no is (6785925081).Recently We sent you following I email on $User Email ID$ from capital first finance domain. Kindly get in touch with us if you still facing this issues Cheers! $Agent Name$
                                            </textarea>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="sub-classification" class="label">Email body</label>
                                          <textarea class="form-control" nbInput placeholder="" >Hi,
I am Salim Mukti from Kolkata, registered mobile no is (6785925081).Recently I have taken a bike through capital first finance,But I have some problems to understand the method of interest calculation...So I try to contact with the capital first customer care(18605009900) but I didnt get connect.Thats why I compose a mail to connect. Please call me on this no.8777762319.please help me as soon as possible. Screen reader support enabled.
                                          </textarea>
                                        </div>
                                  </div>
                                
                                </div>
                                <div class="bottom_btn">
                                    <button type="submit" nbButton size="medium" (click)="ref.close()" status="info">Save & Next</button>
                                </div>
                              </nb-card-body>
                            </nb-card>
                        </ng-template>
                        <ng-template #allcomments let-data let-ref="dialogRef" >
                            <nb-card class="dialog_box comments-box-sec">
                                <nb-card-header>Action - Review: Case ID -27388599 | 24/04/2019 04:24 PM <span class="hide-tag" (click)="ref.close()">x</span></nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                       <div class="inside_box_div">
                                          <h6>Total comments: 234 </h6>
                                         <div class="user_list_comments">
                                            <nb-user size="large"
                                                     name="ANKUR SINGH  (ankur.singh@hdfcbank.com) e"
                                                     title="31/04/2019 (12:45 PM )"
                                                     picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                                            </nb-user>
                                            <p>No records found related Document Number “445ty67sCCT”. Customer purchased this policy two months back and now asking account statement.</p>
                                          </div>
                                          <div class="user_list_comments">
                                              <nb-user size="large"
                                                       name="ANKUR SINGH  (ankur.singh@hdfcbank.com) e"
                                                       title="31/04/2019 (12:45 PM )"
                                                       picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                                              </nb-user>
                                              <p>No records found related Document Number “445ty67sCCT”. Customer purchased this policy two months back and now asking account statement.</p>
                                            </div>
                                            <div class="user_list_comments">
                                                <nb-user size="large"
                                                         name="ANKUR SINGH  (ankur.singh@hdfcbank.com) e"
                                                         title="31/04/2019 (12:45 PM )"
                                                         picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                                                </nb-user>
                                                <p>No records found related Document Number “445ty67sCCT”. Customer purchased this policy two months back and now asking account statement.</p>
                                              </div>
                                              <div class="user_list_comments">
                                                  <nb-user size="large"
                                                           name="ANKUR SINGH  (ankur.singh@hdfcbank.com) e"
                                                           title="31/04/2019 (12:45 PM )"
                                                           picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                                                  </nb-user>
                                                  <p>No records found related Document Number “445ty67sCCT”. Customer purchased this policy two months back and now asking account statement.</p>
                                                </div>
                                       </div>
                                      </div>
                                  <div class="bottom_btn">
                                      <button type="submit" nbButton size="medium" (click)="ref.close()" status="info">Back</button>
                                  </div>
                                </nb-card-body>
                              </nb-card>
                          </ng-template>
                       
                    </nb-tab>
                    <nb-tab tabTitle="Exceptions">
                      <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Autonomus" disabled>
                      <p>List of <strong>transactions</strong>.</p>
                    </nb-tab>
                  </nb-tabset>
              
                </nb-card-body>
              </nb-card>
      </div>
    </div>
  </div>