<section>
    <div class="row">
      <div class="col-md-3">
        <nb-card class="top_card " [routerLink]="['/home/classification']">
          <div class="row">
            <div class="col-4 left_side" >
                <nb-icon icon="grid" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            </div>
            <div class="col-8 right-side">
              <h3> Classification</h3>
            </div>
           </div>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card class="top_card">
          <div class="row">
            <div class="col-4 left_side ">
                <nb-icon icon="monitor" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            </div>
            <div class="col-8 right-side">
              <h3> Monitoring</h3>
            </div>
           </div>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card class="top_card">
          <div class="row">
            <div class="col-4 left_side ">
                <nb-icon icon="shuffle-2" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            </div>
            <div class="col-8 right-side">
              <h3> Configuration</h3>
            </div>
           </div>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card class="top_card">
          <div class="row">
            <div class="col-4 left_side  orange-color">
                <nb-icon icon="people" [options]="{ animation: { type: 'zoom' }}"></nb-icon>
            </div>
            <div class="col-8 right-side">
              <h3>User Managment</h3>
            </div>
           </div>
        </nb-card>
      </div>
    </div>
  </section>
  